@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-color: #5856d6;
  --primary-rgb: 235, 84, 64;

  --secondary-color: #4a4b4c;
  --secondary-rgb: 74, 75, 76;

  --tertiary-color-1: #e8e8e8;
  --tertiary-rgb-1: 232, 232, 232;

  --tertiary-color-2: #c3c3c3;
  --tertiary-rgb-2: 195, 195, 195;

  --background-1: #f6f6f6;
  --background-1-rgb: 246, 246, 246;

  --background-2: #ffffff;
  --background-2-rgb: 255, 255, 255;

  --text-primary: #000000;
  --text-primary-rgb: 0, 0, 0;

  --text-secondary: #4a4b4c;
  --text-secondary-rgb: 74, 75, 76;

  --hyperlink-color: #067bc2;
  --hyperlink-rgb: 6, 123, 194;
}
@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
}


